# implementation of card game - Memory

import simplegui
import random


List1 = range(8)
List2 = range(8)
New_list = List1 + List2
random.shuffle(New_list)
turns = 0
state =0
exposed = [False for i in range(16)]


second_card = 0
first_card = 0

# helper function to initialize globals
def new_game():
    global exposed, turns, state
    New_list 
    random.shuffle(New_list)
    exposed=[False for i in range(16)]
    
    label.set_text('Turns = ' + str(0))
    state = 0
    turns = 0
    print New_list
               
# define event handlers
def mouseclick(pos):          
    global state, exposed, second_card, first_card, turns
    
    # add game state logic here    
    card_clicked = pos[0]/50
    
            
    print card_clicked, New_list[card_clicked], #turns
    
    
    if exposed [card_clicked] == True:
        pass
                           
    elif state == 0:
        state = 1
        first_card = card_clicked        
        exposed [first_card] = True        
        
        
    elif state == 1:
        turns += 1
        state = 2
        second_card = card_clicked        
        exposed [second_card] = True
        
    
        
       
        
        
    else:
        
        state = 1
        if New_list[first_card] != New_list[second_card]:
                exposed [first_card] = False
                exposed [second_card] = False
        else:
            pass
        first_card = card_clicked
        exposed [card_clicked] = True
    label.set_text('Turns = '+str(turns))
    
                                                                                                                                                                                                                                                                 
# cards are logically 50x100 pixels in size    
def draw(canvas):
    global New_list
    for i in range(16):
        canvas.draw_polygon([[50*i, 0], [50*(i+1), 0], [50*(i+1), 100], [50*(i), 100]], 1, 'grey', 'green')
        
        if exposed [i]:
            #canvas.draw_text(str(New_list[i]), [14 + 50*i, 60], 35, "red")
            canvas.draw_polygon([[50*i, 0], [50*(i+1), 0], [50*(i+1), 100], [50*(i), 100]], 1, 'red', 'orange')
            canvas.draw_text(str(New_list[i]), [14 + 50*i, 60], 35, "red")                                                   
                                                                                                              
# create frame and add a button and labels

frame = simplegui.create_frame("Memory", 800, 100)
frame.add_button("Reset", new_game)
label = frame.add_label("Turns = " + str(0))
frame.set_canvas_background('teal')

# register event handlers
frame.set_mouseclick_handler(mouseclick)
frame.set_draw_handler(draw)

# get things rolling
new_game()
frame.start()


# Always remember to review the grading rubric
